 body{
	width: 100%;
	height: 100%;
	margin: 0;
	display:block;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/backgroundimg.gif");
}

.top{
	height: 25%;
	width: 100%;
	display: flex;
}
.mid{
	height: 25%;
	width: 100%;
	display: flex;
}
.bottom{
	height: 50%;
	width: 100%;
	display: flex;
}
.box{
	height: 100%;
	width: 50%;
	display: flex
}
.largebox{
	height: 100%;
	width: 50%;
	display: flex;
}
.center-content {
	justify-content: center;
	align-items: center;
}
.contain-image {
	max-height: 90%;
	max-width: 90%;
}

.pink {background-color: #F608AC;}
.navy {background-color: #001621;}
.green {background-color: #748E5E;}
.purple {background-color: #67475C;}
.brown {background-color: #432C1C;}
.light-grey {background-color: #D3D3D3;}
.grey {background-color: #505050;}
.dark-grey {background-color: #282828;}
.black {background-color: #000000;}
.white-smoke {background-color: #F5F5F5;}

.grey-filter {
	filter: grayscale(100%);
}
	
.opaque {
	opacity: 0.20;	
}
.grab {
	cursor: -webkit-grab; cursor: grab;
	}

@media only screen and (max-width: 850px) {
  body {
    display: block;
	width: 100%;
	height: 100%;	
	margin: 0;
  }
.largebox{
	height: 100%;
	width: 50%;
	display: block;
}
.top{
	height: 20%;
	width: 100%;
	display: flex;
}
.mid{
	height: 40%;
	width: 100%;
	display: flex;
}
.bottom{
	height: 40%;
	width: 100%;
	display: flex;
}
.grey-filter {
	filter: grayscale(100%);
}
.box{
	height: 50%;
	width: 100%;
	display: flex;
}

.contain-image {
	max-height: 100%;
	max-width: 100%;
}
.opaque {
	opacity: 0.20;	
}
.pointer {
	cursor: pointer;
}